# Dependencias y módulos generados
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Archivos locales de configuración
.env

# Archivos de registro
logs/
*.log

# Archivos generados durante la compilación
dist/
build/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
